:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
  --btn-txt-color: rgb(15, 137, 153);
  --td-color: rgb(96, 218, 235);
  --line: 1px solid var(--color-grey-light-4); }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom {
  margin-bottom: 3rem !important; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 30%; } }

body {
  font-family: 'Comic Sans MS', 'Microsoft JhengHei', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-grey-light-1), var(--color-grey-light-3));
  background-repeat: no-repeat; }

.form {
  border: var(--line);
  padding: 2rem; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__group:last-child {
    display: flex;
    justify-content: flex-end; }
  .form__input--txt {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(var(--color-grey-light-1), 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all .3s; }
    .form__input--txt:focus {
      outline: none;
      box-shadow: 0 1rem 2rem var(--shadow-light);
      border-bottom: 3px solid var(--color-primary); }
    .form__input--txt:focus:invalid {
      border-bottom: 3px solid var(--color-primary); }
    .form__input--txt::-webkit-input-placeholder {
      color: var(--color-grey-light-4); }
  .form__input--td {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(var(--color-grey-light-1), 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all .3s; }
    .form__input--td:focus {
      outline: none;
      box-shadow: 0 1rem 2rem var(--shadow-light);
      border-bottom: 3px solid var(--color-primary); }
    .form__input--td:focus:invalid {
      border-bottom: 3px solid var(--color-primary); }
    .form__input--td::-webkit-input-placeholder {
      color: var(--color-grey-light-4); }
  .form__input--file {
    display: none; }
  .form__label--txt {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s; }
  .form__label--file {
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: inline-block;
    transition: all .3s;
    border: var(--line);
    padding: .5rem;
    box-shadow: 0 0.5rem 1rem rgba(var(--shadow-light), 0.2); }
    .form__label--file:hover {
      cursor: pointer;
      transform: translateY(-0.3rem); }
  .form__input--txt:placeholder-shown + .form__label--txt {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__img {
    margin-left: 2rem;
    display: block;
    width: 10%; }
  .form__table {
    font-weight: 400;
    text-align: center;
    border: 1px solid black; }
  .form__head {
    font-size: 1rem; }
    .form__head th {
      font-weight: 600;
      background-color: var(--btn-txt-color);
      color: var(--color-grey-light-1);
      padding: .5rem; }
  .form__body {
    font-size: 1rem; }
    .form__body td {
      background-color: var(--color-grey-light-3);
      padding: .5rem; }
    .form__body td:first-child {
      background-color: var(--td-color); }

.btn, .btn:link, .btn:visited {
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  color: var(--btn-txt-color);
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(var(--shadow-light), 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(var(--shadow-light), 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.heading {
  font-weight: 700;
  font-size: 3rem;
  text-align: center; }

@media print {
  * {
    -webkit-print-color-adjust: exact !important; } }

@page {
  size: A4 portrait; }

.main {
  margin: 2rem auto;
  width: 40%; }
  @media only screen and (max-width: 68.75em) {
    .main {
      width: 60%; } }
  @media only screen and (max-width: 37.5em) {
    .main {
      width: 80%; } }
  @media print {
    .main {
      display: none; } }

.second {
  display: none; }
  @media print {
    .second {
      display: block; } }

.certificate {
  break-inside: avoid;
  width: 794px;
  height: 1123px;
  position: relative;
  display: block;
  color: black;
  font-weight: 700;
  font-family: 'DFKai-sb';
  font-size: 22px; }
  .certificate__image--bg {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0; }
    @media print {
      .certificate__image--bg {
        display: inline-block; } }
  .certificate__name--1 {
    font-size: 70px;
    z-index: 10;
    position: absolute;
    top: 400px;
    left: 350px; }
  .certificate__name--2 {
    z-index: 10;
    position: absolute;
    top: 358px;
    left: 185px; }
  .certificate__date--yy {
    z-index: 10;
    position: absolute;
    top: 989px;
    left: 286px; }
  .certificate__date--mm {
    z-index: 10;
    position: absolute;
    top: 989px;
    left: 381px; }
  .certificate__date--dd {
    z-index: 10;
    position: absolute;
    top: 989px;
    left: 457px; }
  .certificate__date--bday {
    z-index: 10;
    position: absolute;
    top: 394px;
    left: 168px; }
  .certificate__date--today {
    z-index: 10;
    position: absolute;
    top: 431px;
    left: 202px; }
  .certificate__table {
    text-align: center;
    color: black;
    font-weight: 700;
    z-index: 10;
    position: absolute;
    top: 180px;
    left: 591px; }
    .certificate__table--r {
      font-size: 20px; }
    .certificate__table--d {
      position: relative;
      padding: 5px 20px;
      height: 34px; }
    .certificate__table--d:not(:last-child)::after {
      content: "";
      width: 100%;
      height: 100%;
      border-right: var(--line);
      transform: rotate(30deg);
      position: absolute;
      left: 5px;
      top: -14px; }
  .certificate__selfie {
    display: block;
    width: 150px;
    border-radius: 30%;
    z-index: 10;
    position: absolute;
    top: 128px;
    left: 113px; }
  .certificate__heartRate {
    display: block;
    width: 636px;
    height: 183px;
    z-index: 10;
    position: absolute;
    top: 521px;
    left: 79px; }
  .certificate__breatheRate {
    display: block;
    width: 636px;
    height: 183px;
    z-index: 10;
    position: absolute;
    top: 770px;
    left: 79px; }
